<html>
  <head>
    <script src="/js/vendor/jquery-2.0.2.js"></script>
    <script src="/js/sammy.min.js"></script>
    <script src="/js/application.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  </head>
  <body>
    <div id="geronimo"></div>
  </body>
</html>

